<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/trips">Trips</a></li>
                <li><a href="/vehicles">Vehicles</a></li>
                <li><a href="/drivers">Drivers</a></li>
                <li><a href="/trips/new">Create Trip</a></li>
                <li><a href="/vehicles/new">Create Vehicle</a></li>
                <li><a href="/drivers/new">Create Driver</a></li>
            </ul>
        </nav>
    </header>

    <h1>Welcome to the Car Transportation System Dashboard</h1>
    <ul>
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/drivers">Drivers</a></li>
        <li><a href="/trips">Trips</a></li>
    </ul>

    <footer>
        Sysuev
    </footer>
</body>
</html>
